{
  "consumers": [
    {
      "name": "consumer_name_1",
      "status": "http://burrow-host:8000/v2/kafka/cluster_name/consumer/consumer_name_1/status",
      "consumer_group_offset": "http://burrow-host:8000/v2/kafka/cluster_name/consumer/consumer_name_1/topic/topic_name_1",
      "topic_offset": "http://burrow-host:8000/v2/kafka/cluster_name/topic/topic_name_1"
    },
    {
      "name": "consumer_name_2",
      "status": "http://burrow-host:8000/v2/kafka/cluster_name/consumer/consumer_name_2/status",
      "consumer_group_offset": "http://burrow-host:8000/v2/kafka/cluster_name/consumer/consumer_name_2/topic/topic_name_2",
      "topic_offset": "http://burrow-host:8000/v2/kafka/cluster_name/topic/topic_name_2"
    }
  ],
  "chartOptions": {
    "scaleOverride": false,
    "scaleFontSize": 14,
    "scaleSteps": null,
    "scaleStepWidth": null,
    "scaleStartValue": null
  },
  "burrowStatsOptions": {
    "pollInterval": 60,
    "cacheBinSize": 60
  }
}
